<html>
  <head>
    <title>Node.js Meatspace</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Roboto Slab', serif;
      }
    </style>
  </head>
  <body>
    <a href="https://github.com/mikeal/node-meatspace"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  {{{readme}}}
  </body>
</html>
